## Import library

In [13]:
import pandas as pd
from IPython.display import display, HTML

In [14]:
f = open("loc.txt")
DATA_LOC = f.readline() + '/'
f.close()

## Importing Data

In [15]:
data_dict = pd.read_csv(DATA_LOC+"data_dictionary.csv")

In [16]:
train_df = pd.read_parquet(DATA_LOC+"train_data.parquet", engine='auto')

In [17]:
test_df = pd.read_parquet(DATA_LOC+"test_data.parquet", engine='auto')

## Exploring the data

In [18]:
#display(HTML(data_dict.to_html()))
data_dict

,masked_column,Description,Type
0,id1,Primary Key(masked),Key
1,id2,Customer ID (masked),-
2,id3,Offer ID,Categorical
3,id4,Event timestamp,Numerical
4,id5,Event Date,Numerical
...,...,...,...
367,f362,Total clicks on the incoming offer's industry ...,Numerical
368,f363,CTR on the incoming offer's industry for the g...,Numerical
369,f364,CM’s past 6 moth impressions on relevant offers,Numerical
370,f365,CM’s past 6 moth clicks on relevant offers,Numerical
371,f366,CM’s past 6 moth CTR on relevant offers,Numerical

In [19]:
train_df_description = train_df.describe()

In [20]:
# display(HTML(train_df_description.to_html()))
train_df_description

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
count,770164,770164,770164,770164,770164,770164,278506,322972,108562,68869,...,587734,628173,727175,232,654412,654412,654412,661850,661850,661850
unique,770164,46550,757,763371,3,2,82,88,74,65,...,2305,2150,2,1,1951,110,8398,3893,505,18084
top,1366776_189706075_16-23_2023-11-02 22:22:00.042,1396352,92636,2023-11-01 08:57:21.690,2023-11-01,0,13.0,9.0,1.0,1.0,...,0.0,-9999.0,0.0,1.0,1.0,0.0,0.0,51.0,0.0,0.0
freq,1,510,2446,5,301698,733113,42443,33756,19425,14848,...,13352,53759,725345,232,42543,418293,418293,6773,205968,205968

In [21]:
test_df_description = test_df.describe()

In [22]:
# display(HTML(test_df_description.to_html()))
test_df_description

,id1,id2,id3,id4,id5,f1,f2,f3,f4,f5,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
count,369301,369301,369301,369301,369301,131879,155016,49747,30494,257014,...,362575,369293,347489,113,316481,316481,316481,318139,318139,318139
unique,369301,21118,727,365544,2,82,88,74,64,94,...,1380,1275,2,1,1636,99,5435,3108,361,11184
top,1362907_91950_16-23_2023-11-04 18:56:26.000794,1175954,84457,2023-11-04 07:55:02.690,2023-11-05,13.0,9.0,1.0,1.0,6.0,...,-0.0187831003184442,-9999.0,0.0,1.0,1.0,0.0,0.0,54.0,0.0,0.0
freq,1,349,1143,5,186895,19699,17325,9080,6620,15829,...,871,6726,347057,113,19751,200569,200569,2804,100915,100915

In [23]:
# Vibha Data Preprocessing (f219 - f366)
all_columns = train_df.columns.tolist()

start_col = 'f219'
end_col = 'f366'

start_idx = all_columns.index(start_col)
end_idx = all_columns.index(end_col)

target_columns = all_columns[start_idx:end_idx + 1]

print(f"Total grouped columns: {len(target_columns)}")
print(target_columns[:5])  

# train_df[target_columns] = train_df[target_columns].fillna(train_df[target_columns].median())

Total grouped columns: 148
['f219', 'f220', 'f221', 'f222', 'f223']

In [24]:
null_counts = train_df[target_columns].isnull().sum()

null_counts[null_counts > 0]

f219    281290
f220    746072
f221    762406
f222    283575
f223        18
         ...
f362    115752
f363    115752
f364    108314
f365    108314
f366    108314
Length: 146, dtype: int64

In [25]:
null_counts[null_counts > 0].sort_values(ascending=False)

f360    769932
f221    762406
f220    746072
f222    283575
f219    281290
         ...
f301        18
f300        18
f299        18
f298        18
f292        18
Length: 146, dtype: int64

In [26]:
train_df.isnull().sum().sum()

68296406

In [27]:
for col, val in null_counts[null_counts > 0].sort_values(ascending=False).items():
    print(f"{col}: {val}")

f360: 769932
f221: 762406
f220: 746072
f222: 283575
f219: 281290
f347: 197029
f348: 197029
f325: 195753
f329: 195753
f310: 195741
f326: 195738
f330: 195738
f331: 195737
f328: 195737
f327: 195737
f311: 195737
f312: 195737
f313: 192403
f320: 182430
f324: 182430
f323: 182430
f322: 182430
f321: 182430
f318: 182430
f319: 182430
f317: 182430
f316: 182430
f315: 182430
f314: 182430
f355: 182430
f356: 182430
f357: 182430
f358: 141991
f351: 141991
f354: 141991
f353: 141991
f352: 141991
f341: 132302
f336: 132103
f342: 131255
f337: 130900
f343: 130276
f338: 129921
f340: 129894
f339: 129894
f344: 129880
f346: 129880
f345: 129880
f362: 115752
f361: 115752
f363: 115752
f365: 108314
f364: 108314
f366: 108314
f359: 42989
f273: 18
f251: 18
f246: 18
f247: 18
f248: 18
f249: 18
f335: 18
f334: 18
f333: 18
f332: 18
f250: 18
f252: 18
f244: 18
f253: 18
f254: 18
f255: 18
f256: 18
f257: 18
f258: 18
f259: 18
f260: 18
f245: 18
f243: 18
f274: 18
f242: 18
f223: 18
f224: 18
f225: 18
f226: 18
f227: 18
f228: 18
f229: 18
f230: 18
f231: 18
f232: 18
f233: 18
f234: 18
f235: 18
f236: 18
f237: 18
f238: 18
f239: 18
f240: 18
f241: 18
f261: 18
f262: 18
f263: 18
f295: 18
f293: 18
f272: 18
f291: 18
f290: 18
f289: 18
f288: 18
f287: 18
f286: 18
f285: 18
f284: 18
f283: 18
f282: 18
f281: 18
f280: 18
f279: 18
f278: 18
f277: 18
f276: 18
f275: 18
f294: 18
f296: 18
f264: 18
f297: 18
f265: 18
f266: 18
f267: 18
f268: 18
f269: 18
f270: 18
f271: 18
f309: 18
f308: 18
f307: 18
f306: 18
f305: 18
f304: 18
f303: 18
f302: 18
f301: 18
f300: 18
f299: 18
f298: 18
f292: 18

In [28]:
null_counts = train_df.isnull().sum()
total_rows = len(train_df)

In [29]:
high_null_cols = null_counts[null_counts > 0.6 * total_rows].index.tolist()
moderate_null_cols = null_counts[(null_counts > 0.1 * total_rows) & (null_counts <= 0.6 * total_rows)].index.tolist()
low_null_cols = null_counts[(null_counts > 0) & (null_counts <= 0.1 * total_rows)].index.tolist()

In [ ]:
data_dict['Description'] = data_dict['Description'].astype(str).str.strip()
data_dict['Type'] = data_dict['Type'].astype(str).str.strip().str.lower()

categorical_cols = data_dict[data_dict['Type'].str.contains('categorical')]['Description'].tolist()
one_hot_cols = data_dict[data_dict['Type'].str.contains('one hot')]['Description'].tolist()
numerical_cols = data_dict[data_dict['Type'].str.contains('numerical')]['Description'].tolist()

categorical_cols = [col for col in categorical_cols if col in train_df[target_columns].columns]
one_hot_cols = [col for col in one_hot_cols if col in train_df[target_columns].columns]
numerical_cols = [col for col in numerical_cols if col in train_df[target_columns].columns]

# Output counts for verification
len(categorical_cols), len(one_hot_cols), len(numerical_cols)

In [ ]:
# High-missing
for col in high_null_cols:
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna('missing')

# Moderate-missing
for col in moderate_null_cols:
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].median())
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].mode()[0])

# Low-missing
for col in low_null_cols:
    if col in numerical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].median())
    elif col in one_hot_cols:
        train_df[col] = train_df[col].fillna(0)
    elif col in categorical_cols:
        train_df[col] = train_df[col].fillna(train_df[col].mode()[0])